# FastAPI Core
fastapi
uvicorn[standard]

# Database
sqlalchemy
pymysql
alembic
cryptography

# Configuration
pydantic
pydantic-settings
python-dotenv
email-validator
# Testing
pytest
pytest-asyncio
httpx